.btn-custom {
    border-radius: 20px; /* กำหนดมุมของปุ่ม */
    padding: 10px 20px; /* ปรับขนาดของปุ่ม */
    font-size: 16px; /* ปรับขนาดตัวอักษร */
    text-transform: uppercase; /* แปลงตัวอักษรเป็นตัวพิมพ์ใหญ่ทั้งหมด */
}

.btn-custom:hover {
    background-color: salmon; /* เปลี่ยนสีพื้นหลังเมื่อเม้าส์ไปวางบนปุ่ม */
    border-color: salmon; /* เปลี่ยนสีขอบปุ่มเมื่อเม้าส์ไปวางบนปุ่ม */
    color: #fff; /* เปลี่ยนสีตัวอักษรเป็นสีขาวเมื่อเม้าส์ไปวางบนปุ่ม */
}
