<div class="container mt-5">
    <b>Title Website</b>
    <div class="container text-center">{{title}}</div>
    <div class="text-center">
    <b>On Click Image</b>
    </div>
    <div class="container text-center" (click)="onimageClick()">
        <img [src]="imageCoverUrl" class="rounded">
    </div>
    <div class="container mt-5">
        <label for="name">Name: </label>
        <input id= "name" type="text"[formControl]='name'>
        <p>Name: {{name.value}}</p>
    </div>
    <div class="container mt-5">
        <form [formGroup]="profileForm" (ngSubmit)="profileFormSubmit()">
            <label for="first-Name">First name:</label>
            <input id="first-Name" type="text" formControlName="firstName">

            <label for="last-Name">Last name:</label>
            <input id="last-Name" type="text" formControlName="lastName">

            <button type="submit"[disabled]="!profileForm.valid">Submit</button>
        </form>
    </div>
        <div class="container mt-5">
            @if(major != ""){
                <div>Major : {{major}}</div>
            }
        </div>
        <div class="container mt-5">
            <b>Loop List</b>
            @for(item of items; track $index){
                <div>{{$index}} {{item}}</div>
            }
    </div>
    <div class="container mt-5">
        <b>Switch Case (Loop List)</b>
        @for(size of sizelist; track $index){
            @switch (size) {
                @case ("S") {
                    <div>Size S</div>
                }
                @case ("M") {
                    <div>Size M</div>
                }
                @case ("L") {
                    <div>Size L</div>
                }
                @case ("XL") {
                    <div>Size XL</div>
                }
                @case ("XXL") {
                    <div>Size XXL</div>
                }
                @default {
                    <div>Oversized</div>
                }
            }
        }
    </div>

    <div class="container mt-5">
        <b>Date Input</b>
        <div>{{now}}</div>
        <div>{{now|date}}</div>
        <div>{{now|date : 'shortDate'}}</div>
    </div>

    <div class="container mt-5">
        <b>Demicals number</b>
        <div>{{number}}</div>
        <div>{{number|number}}</div>
        <div>{{number| number : '1.2-2'}}</div>
    </div>

    <div class="container mt-5">
        <b>Create Table</b>
        <table class="table table-bordered">
            <thead>
                <tr class="text-center">
                    <th>#</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                @for (emp of empList; track $index){
                <tr>
                    <td class="text-center">{{ $index + 1}}</td>
                    <td>{{ emp.FirstName}}</td>
                    <td>{{ emp.LastName}}</td>
                    <td>{{ emp.Salary | number: '1.2-2'}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="container mt-5">
        <b>Page Routes</b>
    </div>
    <div class="text-center">
        <button routerLink="/" type="button" class="btn btn-primary m-1">Home</button>
        <button routerLink="/page1" type="button" class="btn btn-success m-1">page1</button>
        <button routerLink="/page2" type="button" class="btn btn-success m-1">page2</button>
    </div>
</div>
<router-outlet />
